* {
    box-sizing: border-box;
}

 :root {
    /* all colors referenced are now variable here */
    --primary: #5448c8;
    --secondary: #2a2a72;
    --tertiary: #ffa400;
    /*  */
    --grey: #232323;
    --bgcolor: #eaf6ff;
    --taskbg: linear-gradient(133deg, rgba(164, 160, 155, 0.33657212885154064) 0%, rgba(104, 111, 120, 1) 100%);
    --shadow: rgba(59, 153, 252, 0.7);
    /*  */
    --editbg: #009ffd;
    --editborder: #ffa400;
    /*  */
    --dropdownbg: #fff;
    --dropdownborder: #888;
    --dropdownborder-focus: #aaa;
    /*   */
    --anicol1: #2a2a72;
    --anicol2: whitesmoke;
    /*   */
    font-size: 62.5%;
}

body {
    background: var(--bgcolor);
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: var(--secondary);
    padding: 30px 2rem .21rem 2rem;
    border-bottom: 5px solid var(--primary);
    background-image: url("https://images.alphacoders.com/590/59083.jpg"), linear-gradient(90deg, #000, #000 30%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

header p {
    color: var(--tertiary);
    margin: 5px 0 1.3rem;
    font-size: 1.8rem;
    padding-left: 2rem;
}

header h1,
header p {
    margin-left: 12rem;
}

p,
li {
    font-size: 1.6rem;
}

form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

form input {
    outline: none;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 2.2rem;
    border: 2px solid var(--grey);
    border-radius: 12px;
}

form .form-group {
    margin: .1rem 0;
    flex: 1;
}

.form-group .btn {
    margin-left: 2px;
}

footer {
    width: 100%;
    background: var(--secondary);
    background: linear-gradient(90deg, var(--grey) 0%, var(--secondary) 100%);
    color: var(--tertiary);
    font-size: 1.4rem;
    padding: 1rem;
    border-top: 5px solid var(--primary);
}

footer i {
    font-size: 1rem;
}

.page-title {
    color: var(--primary);
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 4.5rem;
}

.page-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px auto;
    width: 95%;
}

.task-list-wrapper {
    flex: 1;
    min-width: 20em;
    margin: 0 20px 20px;
}

.list-title {
    color: var(--secondary);
    font-size: 2.6rem;
}

.task-list {
    list-style: none;
    padding: 15px;
    height: calc(100% - 50px);
    background: var(--taskbg);
    border-radius: 12px;
    border: 2px solid var(--grey);
}

.task-item {
    color: var(--grey);
    padding: 15px 15px;
    border: 2px solid var(--grey);
    background: var(--tertiary);
    border-radius: 12px;
    margin-bottom: 20px;
}

.task-name {
    margin: 0;
    font-size: 1.8rem;
}

.task-type {
    color: var(--secondary);
    font-size: 1.55rem;
}

.task-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0 5px 0;
    justify-content: space-between;
}

.task-actions button,
.task-actions select {
    flex: 1;
}

.btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary);
    font-size: 2.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
}

.btn:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
}

.btn:active {
    box-shadow: 0 0px var(--grey);
    top: 0;
}

.edit-btn,
.delete-btn {
    font-size: 1.4rem;
    padding: .3rem .4rem;
    margin: .2rem;
    background: var(--secondary);
    color: #fff;
}

.select-dropdown,
.select-status {
    display: block;
    font-size: 2.2rem;
    color: #444;
    padding: 12px;
    width: 100%;
    max-width: 100%;
    margin: 0;
    border: 2px solid var(--grey);
    border-radius: 12px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--dropdownbg);
    background-image: url("../images/select-arrow.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
}

.select-status {
    font-size: 1.4rem;
    padding: /* .3rem 2.2rem .3rem .3rem; */
    4px 28px 4px 4px;
    */ width: auto;
}

.select-dropdown::-ms-expand,
.select-status::-ms-expand {
    display: none;
}

.select-dropdown:hover,
.select-status:hover {
    border-color: var(--dropdownborder)
}

.select-dropdown:focus,
.select-status:focus {
    border-color: var(--dropdownborder-focus);
    box-shadow: 0 0 1px 3px var(--shadow);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-dropdown option,
.select-status option {
    font-weight: normal;
    font-size: 2rem;
}

.new-task {
    animation: new-task-ani .8s ease 1;
}

.edited-task {
    transition: all .4s ease;
    background: var(--editbg);
    border-color: var(--editborder)
}

@keyframes new-task-ani {
    0% {
        background-color: var(--anicol1);
    }
    50% {
        background-color: var(--anicol2);
    }
    100% {
        background-color: var(--tertiary);
        ;
    }
}

@media screen and (max-width: 980px) {
    header {
        background-image: url("https://images.alphacoders.com/590/59083.jpg"), linear-gradient(90deg, #000, #000 80%, var(--secondary) 100%);
    }
    form .form-group {
        flex: 1 100%;
    }
    form .form-group button {
        width: 100%;
    }
    .task-list-wrapper {
        flex-basis: 100%;
    }
    .form-group .btn {
        margin-top: 3px;
        margin-left: 0;
    }
}

@media screen and (max-width: 580px) {
     :root {
        font-size: 58%;
    }
    header {
        background-size: cover;
    }
    header h1,
    header p {
        text-align: center;
        margin-left: 0rem;
        padding-left: 0;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 320px) {
     :root {
        font-size: 40%;
    }
    header p {
        background-color: rgba(104, 111, 120, .4);
    }
    header p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 212px) {
     :root {
        font-size: 25%;
    }
}